@keyframes bounce-bot {
  from {
    margin-bottom: 0;
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
  50% {
    margin-bottom: 10px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
  }
  to {
    margin-bottom: 0;
    -ms-filter: none;
    filter: none;
    opacity: 1;
  }
}
@keyframes bounce-top {
  from {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
    margin-top: 0;
  }
  50% {
    -ms-filter: none;
    filter: none;
    opacity: 1;
    margin-top: -10px;
  }
  to {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
    margin-top: 0;
  }
}
@font-face {
  font-family: 'open_sanslight';
  src: url("/fonts/OpenSans-Light-webfont.woff") format('woff');
}
@font-face {
  font-family: 'open_sansextrabold';
  src: url("/fonts/OpenSans-ExtraBold-webfont.woff") format('woff');
}
@font-face {
  font-family: 'source_code_prolight';
  src: url("/fonts/sourcecodepro-light-webfont.woff") format('woff');
}
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
article,
aside,
header,
footer,
menu,
nav,
section {
  display: block;
}
img {
  max-width: 100%;
}
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,
a:active,
a:hover {
  outline: 0;
}
ul,
ol {
  list-style: inside;
}
body {
  background: #fff;
}
a,
p,
span,
li,
time,
b,
blockquote {
  color: #222;
}
code::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
a::-moz-selection,
p::-moz-selection,
span::-moz-selection,
li::-moz-selection,
time::-moz-selection,
b::-moz-selection {
  background: #555;
  color: #fff;
}
code::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
p::selection,
span::selection,
li::selection,
time::selection,
b::selection {
  background: #555;
  color: #fff;
}
pre {
  background: #222;
}
pre code,
pre code * {
  color: #eee;
}
.hljs-comment,
.hljs-quote {
  color: #7195a8;
}
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #d22d72;
}
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: #ac8322;
}
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: #568c3b;
}
.hljs-title,
.hljs-section {
  color: #257fad;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #6b6bb8;
}
.hljs {
  color: #7ea2b4;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.content-wrapper {
  min-height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.content-wrapper main {
  -ms-flex: 1;
  flex: 1;
}
.menu {
  z-index: 2;
}
.menu-toggle {
  z-index: 3;
}
a,
p,
span,
li,
time,
b,
blockquote {
  font-family: 'open_sanslight', sans-serif;
}
.index-post__read-button,
.index-post__tag,
.menu__link,
.hello-button,
.footer-nav__link,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'open_sansextrabold', sans-serif;
}
code,
code * {
  font-family: 'source_code_prolight', monospaced;
}
.content li {
  text-indent: -1em;
  padding-left: 1em;
}
pre > code,
a,
p,
span,
li,
time,
b,
blockquote {
  font-size: 18px;
}
@media only screen and (min-width: 760px) {
  pre > code,
  a,
  p,
  span,
  li,
  time,
  b,
  blockquote {
    font-size: 20px;
  }
}
.menu__item,
.menu__link {
  line-height: 50px;
  font-size: 50px;
}
@media only screen and (min-width: 760px) {
  .menu__item,
  .menu__link {
    line-height: 100px;
  }
}
@media only screen and (min-width: 760px) {
  .menu__item,
  .menu__link {
    font-size: 100px;
  }
}
.topbar__title {
  font-size: 24px;
}
@media only screen and (min-width: 760px) {
  .topbar__title {
    font-size: 50px;
  }
}
.banner__title {
  font-size: 50px;
}
@media only screen and (min-width: 760px) {
  .banner__title {
    font-size: 100px;
  }
}
.banner__subtitle {
  font-size: 30px;
}
.banner__date,
.banner__dash,
.banner__ert {
  font-size: 20px;
}
@media only screen and (min-width: 760px) {
  .banner__date,
  .banner__dash,
  .banner__ert {
    font-size: 30px;
  }
}
.post__title {
  font-size: 30px;
}
@media only screen and (min-width: 760px) {
  .post__title {
    font-size: 36px;
  }
}
.author__title {
  font-size: 26px;
}
.author__name {
  font-size: 40px;
}
.footer-nav__link {
  font-size: 26px;
}
.menu__item,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
p,
main li {
  line-height: 1.8;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
p {
  max-width: 900px;
}
.author {
  color: #222;
  background: #eee;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.author *::-moz-selection {
  background: #555;
  color: #fff;
}
.author *::selection {
  background: #555;
  color: #fff;
}
@media only screen and (min-width: 760px) {
  .author {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}
.author__img {
  width: 200px;
}
@media only screen and (max-width: 760px) {
  .author__img {
    margin-bottom: 20px;
  }
}
@media only screen and (min-width: 760px) {
  .author__img {
    margin-right: 40px;
  }
}
.author__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media only screen and (min-width: 760px) {
  .author__info {
    -ms-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.author__title,
.author__name {
  display: block;
  line-height: 1;
}
.author__title {
  color: #555;
}
.author__name {
  margin-bottom: 20px;
}
.author__hello-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  background: #555;
  height: 35px;
  padding-left: 20px;
  padding-right: 10px;
  transition: background 0.6s ease;
}
@media only screen and (min-width: 760px) {
  .author__hello-button {
    height: 40px;
  }
}
.author__hello-button__text {
  color: #fff;
}
.author__hello-button:hover,
.author__hello-button:focus {
  background: #222;
}
.author__hello-button__svg {
  fill: #fff;
  height: 20px;
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
}
@media only screen and (min-width: 760px) {
  .author__hello-button__svg {
    height: 25px;
    width: 45px;
  }
}
.blog {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
code {
  color: #222;
  background: #eee;
  border-color: #aaa;
  margin-left: 3px;
  margin-right: 3px;
  padding-left: 6px;
  padding-right: 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  white-space: nowrap;
}
code *::-moz-selection {
  background: #555;
  color: #fff;
}
code *::selection {
  background: #555;
  color: #fff;
}
pre code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
.content {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width: 1100px) {
  .content h1,
  .content h2,
  .content h3,
  .content h4,
  .content h5,
  .content h6 {
    padding-left: 0;
    padding-right: 0;
  }
}
.content p,
.content ul,
.content ol,
.content iframe,
.content blockquote {
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;
}
@media only screen and (min-width: 1100px) {
  .content p,
  .content ul,
  .content ol,
  .content iframe,
  .content blockquote {
    padding-left: 0;
    padding-right: 0;
  }
}
.content blockquote > p {
  margin-bottom: 0;
  padding-right: 0;
}
.content pre {
  overflow-x: auto;
  margin-bottom: 20px;
  width: 100%;
  text-align: left;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.content pre code {
  width: 100%;
  padding: 20px 5%;
  max-width: 900px;
}
@media only screen and (min-width: 1100px) {
  .content pre code {
    padding-left: 0;
    padding-right: 0;
  }
}
.content a {
  transition: color 0.5s ease, background 0.5s ease;
}
.content a:hover,
.content a:focus {
  color: #fff;
  background: #222;
}
.content blockquote p {
  padding-left: 20px;
  border-style: solid;
  border-left-width: 20px;
  border-radius: ;
  border-color: #aaa;
}
.fleuron {
  max-width: 60px;
  padding-bottom: 20px;
}
.key {
  border: 1px solid;
  letter-spacing: 1px;
  box-shadow: 0 1px 0 1px #ccc, 0 2px 0 2px #999, 0 2px 0 3px #555;
  border-radius: 3px;
  margin: 3px 10px;
  padding: 0 8px;
  color: #222;
  background: #f2f2f2;
  border-color: #bbb;
}
.post {
  color: #222;
  background: #fff;
  border-color: #aaa;
  margin-left: 8%;
  margin-right: 8%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.post *::-moz-selection {
  background: #555;
  color: #fff;
}
.post *::selection {
  background: #555;
  color: #fff;
}
.post:not(:last-child) {
  border-style: solid;
  border-bottom-width: 3px;
  border-radius: ;
}
@media only screen and (min-width: 760px) {
  .post {
    -ms-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.post__title,
.post__meta,
.post__preview {
  margin-bottom: 20px;
}
.post__title {
  text-decoration: none;
  color: #000;
}
.post__tags {
  list-style: none;
}
@media only screen and (max-width: 760px) {
  .post__tags {
    margin-bottom: 20px;
  }
}
.post__tag {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  background: #aaa;
  color: #fff;
  margin-right: 5px;
  line-height: 35px;
}
@media only screen and (min-width: 760px) {
  .post__tag {
    line-height: 40px;
  }
}
.post__read-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-decoration: none;
  background: #555;
  height: 35px;
  padding-left: 20px;
  padding-right: 10px;
  transition: background 0.6s ease;
}
@media only screen and (min-width: 760px) {
  .post__read-button {
    height: 40px;
  }
}
.post__read-button__text {
  color: #fff;
}
.post__read-button:hover,
.post__read-button:focus {
  background: #222;
}
.post__read-button__svg {
  fill: #fff;
  width: 25px;
  height: 25px;
}
@media only screen and (min-width: 760px) {
  .post__read-button__svg {
    width: 30px;
    height: 30px;
  }
}
.footer-nav__list {
  text-align: center;
  list-style: none;
}
.footer-nav__item {
  display: block;
}
@media only screen and (min-width: 760px) {
  .footer-nav__item {
    float: left;
    line-height: 1;
    display: inline;
  }
  .footer-nav__item:not(:last-child) {
    padding-right: 3px;
    border-style: solid;
    border-right-width: 3px;
    border-radius: ;
    border-color: #fff;
  }
  .footer-nav__item:not(:first-child) {
    padding-left: 3px;
  }
}
.footer-nav__link {
  text-decoration: none;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  transition: color 0.7s ease, background 0.7s ease;
}
.footer-nav__link:hover,
.footer-nav__link:focus {
  color: #b00000;
  background: #fff;
}
.site-footer {
  width: 100%;
  color: #fff;
  background: #b00000;
}
.site-footer *::-moz-selection {
  background: #fff;
  color: #555;
}
.site-footer *::selection {
  background: #fff;
  color: #555;
}
.site-footer__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.site-footer__divider {
  border-style: solid;
  border-top-width: 3px;
  border-radius: ;
  border-color: #6a0000;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
  max-width: 400px;
}
.site-footer__info {
  display: block;
}
.site-footer__info-svg {
  transition: transform 0.2s ease;
  fill: #fff;
  display: block;
  width: 30px;
  height: 30px;
}
.site-footer__info-svg:hover,
.site-footer__info-svg:focus {
  transform: scale(1.4);
}
@media only screen and (min-width: 760px) {
  .site-footer__info-svg {
    width: 40px;
    height: 40px;
  }
}
.banner {
  color: #fff;
  background: #b00000;
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.banner *::-moz-selection {
  background: #fff;
  color: #555;
}
.banner *::selection {
  background: #fff;
  color: #555;
}
.banner__content {
  max-width: 80%;
}
.banner__title {
  text-shadow: 5px 5px #6a0000;
}
.banner__title,
.banner__meta {
  margin-bottom: 20px;
}
@media only screen and (min-width: 760px) {
  .banner__title,
  .banner__meta {
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 760px) {
  .banner__subtitles {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media only screen and (min-width: 760px) {
  .banner__subtitle:first-of-type {
    padding-right: 0.5em;
  }
}
.banner__date,
.banner__dash,
.banner__ert,
.banner__tag {
  color: #fff;
}
.banner__tags {
  list-style: none;
  display: block;
}
.banner__tag {
  display: inline;
}
.banner__tag:not(:last-child):after {
  content: ', ';
}
.menu {
  color: #fff;
  background: #555;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
}
.menu *::-moz-selection {
  background: #fff;
  color: #555;
}
.menu *::selection {
  background: #fff;
  color: #555;
}
.menu__list {
  padding-top: 40px;
  padding-bottom: 40px;
  list-style: none;
}
.menu__item {
  display: block;
}
.menu__item:not(:last-child) {
  margin-bottom: 20px;
}
@media only screen and (min-width: 760px) {
  .menu__item:not(:last-child) {
    margin-bottom: 40px;
  }
}
.menu__link {
  display: inline-block;
  padding: 20px 40px;
  text-decoration: none;
  color: #fff;
  transition: background 0.7s ease;
}
.menu__link:hover,
.menu__link:focus {
  background: #222;
}
.menu-toggle {
  position: absolute;
  width: 30px;
  left: 10px;
  top: 10px;
}
@media only screen and (min-width: 760px) {
  .menu-toggle {
    width: 48px;
    left: 25px;
    top: 25px;
  }
}
.menu-toggle__icon,
.menu-toggle:before,
.menu-toggle:after {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 1px;
  height: 5px;
}
@media only screen and (min-width: 760px) {
  .menu-toggle__icon,
  .menu-toggle:before,
  .menu-toggle:after {
    height: 8px;
    border-radius: 2px;
  }
}
.menu-toggle:before,
.menu-toggle:after {
  content: '';
}
.menu-toggle__icon {
  margin-top: 5px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 760px) {
  .menu-toggle__icon {
    margin-top: 8px;
    margin-bottom: 8px;
  }
}
.scroll-down {
  position: absolute;
  animation: bounce-bot 1.3s ease-in-out infinite;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.scroll-down__link {
  display: block;
}
.scroll-down__svg {
  transition: transform 0.2s ease;
  display: block;
  width: 60px;
  height: 60px;
  fill: #fff;
}
.scroll-down__svg:hover,
.scroll-down__svg:focus {
  transform: scale(1.4);
}
@media only screen and (min-width: 760px) {
  .scroll-down__svg {
    width: 100px;
    height: 100px;
  }
}
.topbar {
  color: #fff;
  background: #b00000;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  min-height: 45px;
}
.topbar *::-moz-selection {
  background: #fff;
  color: #555;
}
.topbar *::selection {
  background: #fff;
  color: #555;
}
@media only screen and (min-width: 760px) {
  .topbar {
    min-height: 90px;
  }
}
.topbar__content {
  max-width: 80%;
}
.body--no-scroll {
  height: 100vh;
  overflow: hidden;
}
.menu-toggle {
  transition: transform 0.2s ease-in-out;
}
.menu-toggle__icon,
.menu-toggle:before,
.menu-toggle:after {
  transition: transform 0.2s ease-in-out;
}
.menu-toggle--toggled {
  transform: rotate(180deg);
}
.menu-toggle--toggled:before {
  transform: translateY(10px);
}
@media only screen and (min-width: 760px) {
  .menu-toggle--toggled:before {
    transform: translateY(16px);
  }
}
.menu-toggle--toggled:after {
  transform: translateY(-10px);
}
@media only screen and (min-width: 760px) {
  .menu-toggle--toggled:after {
    transform: translateY(-16px);
  }
}
.menu-toggle--toggled__icon {
  transform: scale(0);
}
.menu {
  visibility: hidden;
}
.menu--visible {
  visibility: visible;
}
.site-footer {
  visibility: visible;
}
.site-footer--hidden {
  visibility: hidden;
}
